<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <!--    Favicon-->
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png"/>
    <!--    Favicon-->
    <title>Sneaker</title>
    <link rel="stylesheet" href="/static/slideSneaker/styles.css">
</head>
<body>
<header th:insert="~{partCode/headerMain :: headerMain}"></header>
<div class="div-btn">
    <div class="bnt">Here you can create yourself collection.</div>
    <a href="/collection/form" > <button class="bnt" style="text-decoration: none;color: #eab403">Create new collection</button></a>
    <div class="bnt">To change the image field click on the image</div>
    <a href="/collection/all" > <button class="bnt" style="text-decoration: none;color: #eab403">Watch all collections</button></a>
    <div class="bnt">Create new collection</div>
    <div class="bnt">Create new collection</div>
</div>
<div class="div-btn" th:each="el : ${collect}">
    <button class="bnt" th:text="${el.name}"><a href="/collection/form" ></a></button>

<!--    <div th:style="'background:url(' + @{/<path-to-image>} + ');'"></div>-->
</div>

<!--<div th:each="el : ${collect}">-->
<!--    <h1> <a th:text="${collect.get.getName()}">cam</a> </h1>-->
<!--</div>-->
<div class="cont">
    <div class="block"
         th:style="'background-image:url(' + ${collectis.get().getUrl1()} + ');'">
    </div>
    <div class="block"
         th:style="'background-image:url(' + ${collectis.get().getUrl2()} + ');'">
    </div>
    <div class="block active"
         th:style="'background-image:url(' + ${collectis.get().getUrl3()} + ');'">
    </div>
    <div class="block"
         th:style="'background-image:url(' + ${collectis.get().getUrl4()} + ');'">
    </div>
    <div class="block"
         th:style="'background-image:url(' + ${collectis.get().getUrl5()} + ');'">
    </div>
</div>
</div>
<script src="/static/slideSneaker/app.js"></script>
</body>
</html>
