<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="/static/history/style.css" />
    <title>History</title>
  </head>
  <body>
  <header th:insert="~{partCode/headerMain :: headerMain}"></header>


  <div class="con" style="background-color: #363535;margin-top: 75px;position: fixed">
      <div class="sidebar">
        <div
          style="
            background: linear-gradient(229.99deg, rgba(209,197,197,0.46) -26%, rgb(255,255,255) 145%);
          "
        >
          <h1>Asics</h1>
          <p>The history of ASICS began on September 1, 1949[2] in post-war Japan. Kihachiro Onitsuka (鬼塚 喜八郎) thought about how he could help the Japanese youth in such a difficult time for the country[3] and decided to create a sports brand for everyone to inspire his fellow citizens through sports[3]. Thus, Onitsuka Tiger was born.

            In the early days of its existence, the company supplied goods only to the domestic market of Japan and China, and Nike founders Phil Knight and Bill Bowerman took advantage of this by buying sneakers and reselling them in the United States [4]. In 1977, after expansion, Onitsuka Tiger was renamed ASICS, an acronym for "Anima sana in corpore sano", which is Latin for "A healthy mind in a healthy body". A sports research institute was built in the city of Kobe to study and design running shoes.</p>
        </div>
        <div
          style="
            background: linear-gradient(215.32deg, #e78700 -1%, #b59a5c 124%);
          "
        >
          <h1>Converse</h1>
          <p>In 1908, Marcus Mills Converse (born Marquis M. Converse), who had previously worked for the Boston Rubber Shoe Company, which specialized in the production of winter shoes, founded his own Converse Rubber Shoe Company in Malden, Massachusetts. At first, the main products were family shoes, for summer and winter. Two years after the founding of the company, more than 4 thousand pairs of shoes were produced every day. Sports shoes in the assortment of the company appear only after 1915.

            An important milestone in the history of the company is considered 1917, this year was the beginning of the release of Converse special shoes for basketball players - Converse All Star. Soon the famous basketball player Charles H. "Chuck" Taylor (Eng. Charles H. "Chuck" Taylor) from the team "Akron Firestones" begins to play exclusively in the "converse". In 1918, Taylor receives support from Converse and his first pair of All Star promotional shoes.

            Chuck Taylor officially joined Converse in 1921, and in 1923 the All Stars became his signature pro model after publishing a retrospective celebrating the 60th anniversary of basketball as a sport and teaching the first ball lessons at North Carolina State University. Chuck then went on a 35-day promotional tour to introduce basketball to America, earning him the nickname "basketball ambassador".</p>
        </div>
        <div
          style="
             background: linear-gradient(220.16deg, #d42126 -8%, rgb(89,205,211) 138%);
          "
        >
          <h1>New balance 990v5</h1>
          <p>In 2019 New Balance launched its 990v5, its most structurally robust take on the silhouette to-date. With a tonal TPU power strap wrapping the upper, alongside the premium pigskin we’d come to expect from the sneaker, the 990v5 was the first iteration to take on the brand’s slightly alternative color palette of “Slate Grey.”

            Branding across the sneaker was given a renovation too, with emblems on the tongue and foxing of the footwear accentuated with 360 reflectivity. Crisp white laces and a matching outsole completed a clean take that sat atop the epochal ENCAP midsole.

            “I definitely think that it [990v5] looks better overall because it’s simplified,” continued Scott. “I think the detail I like the most is the fact that we can color it up in a way that it looks like a completely different shoe. I think that’s what’s gonna shock people down the road. It’s like “what shoe is that?” Because they don’t recognize it."</p>
        </div>
<!--        <div-->
<!--          style="-->
<!--            background: linear-gradient(220.16deg, #ffe101 -8%, #f39102 138%);-->
<!--          "-->
<!--        >-->
<!--          <h1>Automated Customer Service</h1>-->
<!--          <p>Love, death & robots</p>-->
<!--        </div>-->
        <div
                style="
            background: linear-gradient(220.16deg, #3f2e1f -8%, rgb(63,56,31) 138%);
          "
        >
          <h1>Nike Air Jordan 1 High</h1>
          <p>Sneaker manufacturer Jordan has collaborated with many athletes and show business stars throughout his career. But the most productive was the collaboration with rapper Travis Scott. The result was a lot of interesting and unusual sneaker configurations that aroused the interest of the audience.

            Here are the most famous of them:

            The Fragment Design x Air Jordan 1 x Travis Scott

            These high-rise sneakers went on sale on the Swoosh website in the early 2000s. Their original cost was two hundred dollars. A signature feature was the black swoosh logo and matching nylon collar with a hidden compartment.

            Air Jordan 1 blue military style has different decorative elements in the toe, collar and heel. This model has a smiley Cactus Jack staff on the left shoe, and a special zipper on the right. On the side there is the brand logo, as well as a tag on the tongue. Thanks to these features, sneakers immediately became recognizable and in demand.</p>
        </div>
        <div
                style="

              background: linear-gradient(221.87deg, #8308ea 1%, #5305af 128%);
          "
        >
          <h1>Adidas ClimaCool 1</h1>
          <p>In 2002, adidas released the Clima Cool 1, forever changing the idea of breathable footwear. They were produced at 360 degrees. what was previously possible impossible - ventilation occurs through the rear, toe, sides and even a hole in the sole. Although such a development was ahead of its time, ClimaCool 1 tried most of the time in the archive, only returning in 2016.At the heart of the design was the Clima Cool technology of the same name, a light and porous material capable of passing a large amount of air through itself. It was the material used to make the upper of the Clima Cool 1. Now its use includes t-shirts, trousers, sweaters and jackets for running and football, but in 2002 it made its debut through an unusual and advanced shoe silhouette. In many ways, this unusualness was the cause of the initial failure.

            Despite many experimental solutions on the threshold of the 21st century, including in the fashion industry, consumers were clearly not ready to change their usual suede and leather for something else. Radical changes were repulsive and took too long to be accepted. Such a fate befell both Nike's Foamposite and adidas' Clima Cool - not even a high-profile marketing campaign, accompanied by a release in honor of the Winter Olympics and a collaboration with Coca-Cola, helped.</p>
        </div>
      </div>


      <div class="main-slide">

        <div
                style="
            background-image: url('https://sidewalkhustle.com/wp-content/uploads/2016/09/adidas-originals-climacool-1-shock-purple-1.jpg');
          "
        ></div>
        <div
                style="
            background-image: url('https://i2.wp.com/sneakerhdwallpapers.com/wallpapers/2019/air-jordan-1-high-og-travis-scott-wallpaper-4k.jpg');
          "
        ></div>


        <div
          style="
            background-image: url('https://hypebeast.com/image/2019/09/ycmc-new-balance-990v5-loyalty-release-information-grey-red-blue-1.jpg');
          "
        ></div>
        <div
          style="
            background-image: url('https://media.gq.com/photos/5d93aa2c636d4800084025ae/4:3/w_1600%2Cc_limit/sneakers.jpg');
          "
        ></div>
        <div
          style="
            background-image: url('https://s3.amazonaws.com/eukicks/wp-content/uploads/2017/01/20193114/D713L-0123_06.jpg');
          "
        ></div>
      </div>
      <div class="controls">
        <button class="down-button">
          <i class="fas fa-arrow-down"></i>
        </button>
        <button class="up-button">
          <i class="fas fa-arrow-up"></i>
        </button>
      </div>
    </div>
    <script src="/static/history/app.js"></script>
  </body>
</html>

<!--https://s3.amazonaws.com/eukicks/wp-content/uploads/2017/01/20193114/D713L-0123_06.jpg-->

<!--https://media.gq.com/photos/5d93aa2c636d4800084025ae/4:3/w_1600%2Cc_limit/sneakers.jpg-->
<!--https://sidewalkhustle.com/wp-content/uploads/2016/09/adidas-originals-climacool-1-shock-purple-1.jpg-->
<!--https://hypebeast.com/image/2019/09/ycmc-new-balance-990v5-loyalty-release-information-grey-red-blue-1.jpg-->


<!--https://i2.wp.com/sneakerhdwallpapers.com/wallpapers/2019/air-jordan-1-high-og-travis-scott-wallpaper-4k.jpg-->