<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/paigeId.css">
    <title th:text="${paige.get().getNameArticle()}"></title>

</head>
<body class="body">
<div class="main">
    <div>
        <img class="img" th:src="${paige.get().getMainPicturePaige()}" alt="">
        <p class="textArticle" th:text="${paige.get.getNameArticle()}"></p>
        <p  class="textAll" th:text="${paige.get().getFullTextArticle()}"></p>
        <img class="img" th:src="${paige.get().getPicturePaige1()}" alt="">
        <img class="img" th:src="${paige.get().getPicturePaige2()}" alt="">
        <img class="img" th:src="${paige.get().getPicturePaige3()}" alt="">
        <img class="img" th:src="${paige.get().getPicturePaige4()}" alt="">
        <img class="img" th:src="${paige.get().getPicturePaige5()}" alt="">
        <img class="img" th:src="${paige.get().getPicturePaige6()}" alt="">
        <img class="img" th:src="${paige.get().getPicturePaige7()}" alt="">
        <img class="img" th:src="${paige.get().getPicturePaige8()}" alt="">
        <img class="img" th:src="${paige.get().getPicturePaige9()}" alt="">
        <img class="img" th:src="${paige.get().getPicturePaige10()}" alt="">
    </div>
</div>
</body>
</html>